body{
  /* background-image: url('/resources/img/background/minimal_background_by_mikeandlex.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  */
}

html{
  font-family: "Roboto", sans-serif;
}

.animation_enter{
  transform: translate(0px, -200px);
  opacity: 0
}

.animation_active{
  transform: translate(0px,0px);
  transition: all ease-in 0.3s;
  opacity: 1;
}
