body{
  /* background-image: url('/resources/img/background/minimal_background_by_mikeandlex.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  */
}

html{
  font-family: "Roboto", sans-serif;
}
