.progress{
  height:30px;
  margin-top: 7px;
  margin-bottom: 7px;
  overflow: hidden;
  border-radius: 4px;
  background-color: #E4E7EB;
}
.progress-bar{
  background-color: #E82C0C;
  height: 100%;
  text-indent:1em;
  line-height:30px;
  text-tranform: uppercase;

}
.title{
  display:block; position:relative;margin-bottom:1em;
}

.area{
  position:relative; width:50%;float:left;
}

.progress-box{
  position:relative;border-right: 1px solid #ccd0d4;margin-right:2em;
}
.edu-box{
  position:relative;width:90%;
}

.edu-title{
  display:block; line-height:1.5;
}

.filled_enter{
  width:0%;
    transition: all ease-in 0.3s;
}

.filled_active{
  transition: all ease-in 1.0s;
}

.main_skills{
  width: 780px;height: 33%;
}
.right_caption{
  font-size:0.5em;;text-align:right;
}

.white_box{ background: #fff; }

@media only screen and (max-width: 480px) {
  .area{ clear:both; width:100%;}
  .main_skills{
    width: 300px;height: 86%;
  }
  .progress{
    height:25px;;
    margin-top: 2px;
    margin-bottom: 3px;
  }
  .progress-bar{
    line-height:25px;;
  }

  h2{ font-size:1.5rem;;}
  h3 { font-size:1.3rem; }
  .right_caption{
    font-size:0.8em;;text-align:right;
  }
  .white_box{ background: #fff; font-size: 0.9rem; }
  .progress-box{
    border-right : 0px;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .area{ clear:both; width:100%;}
  .main_skills{
    width: 300px;height: 86%;
  }
  .progress{
    height:25px;;
    margin-top: 2px;
    margin-bottom: 3px;
  }
  .progress-bar{
    line-height:25px;;
  }
  h2{ font-size:1.5rem;;}
  h3 { font-size:1.3rem; }
  .right_caption{
    font-size:0.8em;;text-align:right;
  }
  .white_box{ background: #fff; font-size: 0.9rem; }

  .progress-box{
    border-right : 0px;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 801px) {
}
