<div style="position: absolute;left: 0;top: 0;margin: auto;width: 33%;height: 27%;right: 0;bottom: 0;">
  <div #item class="left_item my-box">

  </div>
  <div class="right_item" #item>
    <h2 class="right-top">
      <b>오 도 연 | Doyeon Oh</b>
      <br>
      web developer
    </h2>
    <div class="right-bottom">
        <p><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/odyody12" target="_blank" style="color:white">@odyody12</a></p>
        <p><i class="fa fa-github fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/doyeonOh" target="_blank" style="color:white">@doyeonOh</a></p>
        <p><i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;odyody12@gmail.com</p>
    </div>
  </div>
</div>
