<div class="main main_skills">
  <div>
    <div class="area">
      <div>
        <h2 class="title">
          보유 기술
        </h2>
        <div class="progress-box" #item>
          <div style="width:90%;">
            <div class="progress">
              <div #skill class="progress-bar">
                <p style="">Java</p>
              </div>
            </div>
            <div class="progress">
              <div #skill class="progress-bar">
                <p style="">Javascript, jQuery</p>
              </div>
            </div>
            <div class="progress">
              <div #skill class="progress-bar">
                <p style="">PostgreSQL</p>
              </div>
            </div>
            <div class="progress">
              <div #skill class="progress-bar">
                <p style="">HTML, CSS</p>
              </div>
            </div>
            <div class="progress">
              <div #skill class="progress-bar">
                <p style="">NodeJs</p>
              </div>
            </div>
            <div class="progress">
              <div #skill class="progress-bar">
                <p style="">RasberryPi</p>
              </div>
            </div>
            <div class="progress">
              <div #skill class="progress-bar">
                <p style="">Angular2</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="area" >
      <div>
        <h2 class="title" >
          학력
        </h2>
        <div class="edu-box" #item>
          <h3 class="edu-title">
            <p style="display:inline;"><b>제주대학교</b> <span class="right_caption">2006.3 ~ 2012.2</span></p>
            <br>
            <h5>컴퓨터 공학과 학사 졸업</h5>
          </h3>
          <p style="margin-top:2em;">
            학과 내의 있는 SoftLab 에서 <b>안드로이드 프로젝트</b>를 주로 진행하였습니다. 그 중 4개의 App 을 퍼블리싱 하였습니다.
          </p>
          <p class="white_box">
            |
            <a target="_blank" href="https://play.google.com/store/apps/details?id=softlab.jeju.ody1">올레길 App</a>,
            <a target="_blank" href="http://onestore.co.kr/userpoc/apps/view?pid=0000252576">주역 App</a>,
            <a target="_blank" href="http://onestore.co.kr/userpoc/apps/view?pid=0000256020">사주 App</a>,
            <a target="_blank" href="http://onestore.co.kr/userpoc/apps/view?pid=0000256101">육효 App</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
